{% extends "base.html" %}

{% block title %}Hub {{ request.view_args.id|upper }}{% endblock %}

{% block body %}
<p>Hub <code>{{ request.view_args.id|upper }}</code>
  {% if hub %}
  last seen {{ hub.since }}, in {% if hub.live %}live{% else %}setup{% endif %} mode.
  {% else %}
  not yet seen.
  {% endif %}
</p>

<ul>
  {% for c in cells %}
  <li>Cell <code>{{ c.id }}</code> last seen {{ c.since }}, during {% if hub.live %}live{% else %}setup{% endif %} mode.</p></li>
  {% endfor %}
</ul>

<button id="hourly">Switch to Hourly Readings</button>
{% endblock %}

{% block js %}<script src="/static/setup/hub.js"></script>{% endblock %}
