{% extends "base.html" %}

{% block title %}Hub {{ request.view_args.id|upper }}{% endblock %}

{% block body %}
<h1>Hub {{ request.view_args.id|upper }}</h1>

{% if hub %}
<p>Last seen {{ hub.time }}, in {% if hub.live %}live{% else %}setup{% endif %} mode.</p>
{% else %}
<p>Nothing yet&hellip;</p>
{% endif %}

<h2>Cells</h2>
<ul>
  {% for c in cells %}
  <li><code>{% if c.short_id %}{{ c.short_id|upper }}{% else %}{{ c.cell_id }}{% endif %}</code> last seen {{ c.time }}.</li>
  {% endfor %}
</ul>

<button id="hourly">Switch to Hourly Readings</button>
{% endblock %}

{% block js %}<script src="/static/setup/hub.js"></script>{% endblock %}
