{% extends "base.html" %}

{% block title %}Hub {{ request.view_args.id }}{% endblock %}

{% block body %}
<h2>Status</h2>
<ul>
  {% for l in logs %}
  <li>{{ l.time }} <code>{{ l.pi_id }}</code> <i>{{ l.sleep_period }}</i> <b>{{ l.port }}</b></li>
  {% endfor %}
</ul>

<h2>Cells</h2>
<ul>
  {% for c in cells %}
  <li>{{ c.time }} <a href="{{ url_for('cell', id=c.cell_id) }}"><code>{{ c.cell_id }}</code></a></li>
  {% endfor %}
</ul>

<button id="hourly">Switch to Hourly Readings</button>
{% endblock %}

{% block js %}<script src="/static/hub.js"></script>{% endblock %}
