[Unit]
After=db.service
Requires=db.service
After=tunnel.service
Requires=tunnel.service

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker rm -f app
ExecStart=/usr/bin/docker run --name app --link db app
ExecStop=/usr/bin/docker stop app

[Install]
WantedBy=multi-user.target
