[Unit]
After=db.service
Requires=db.service
After=tunnel.service
Requires=tunnel.service

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker rm -f app
ExecStartPre=/usr/bin/docker run -d --name app --link db --link tunnel app
ExecStart=/usr/bin/docker logs -f app
ExecStop=/usr/bin/docker stop app

[Install]
WantedBy=multi-user.target
