[Unit]
After=db.service
Requires=db.service

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker rm -f batch
ExecStart=/usr/bin/docker run --name batch --link db app python3 -m app.batch
ExecStop=/usr/bin/docker stop batch

[Install]
WantedBy=multi-user.target
