<table>
  {% for h in hubs %}
  {% if loop.first %}
  <tr>
    <th>Time</th>
    <th>{% if h.hub_id is defined %}ID{% endif %}</th>
    <th>{% if h.short_id is defined %}Short ID{% endif %}</th>
    <th>{% if h.pi_id is defined %}π ID{% endif %}</th>
    <th>Disk Free</th>
    <th>Uptime</th>
    <th>Version</th>
    <th>Sleep Period</th>
    <th>Port</th>
  </tr>
  {% endif %}
  <tr>
    <td>{{ h.time }}</td>
    <td>
      {% if h.hub_id %}
      <a href="{{ url_for('hub', id=h.hub_id) }}"><code>{{ h.hub_id }}</code></a>
      {% endif %}
    </td>
    <td>{% if h.short_id %}<code>{{ h.short_id }}</code>{% endif %}</td>
    <td>{% if h.pi_id %}<code>{{ h.pi_id }}</code>{% endif %}</td>
    <td>{% if h.disk_free %}{{ h.disk_free }}B{% endif %}</td>
    <td>{% if h.uptime %}{{ h.uptime }}s{% endif %}</td>
    <td>{% if h.version %}<code>{{ h.version }}</code>{% endif %}</td>
    <td>{{ h.sleep_period }}</td>
    <td>{{ h.port }}</td>
  </tr>
  {% endfor %}
</table>
