<table>
  <tr>
    <th>Time</th>
    <th>Hub ID</th>
    <th>Pi ID</th>
    <th>Short ID</th>
    <th>Disk Free</th>
    <th>Uptime</th>
    <th>Version</th>
    <th>Sleep Period</th>
    <th>Port</th>
  </tr>
  {% for h in hubs %}
  <tr>
    <td>{{ h.time }}</td>
    <td>
      {% if h.hub_id %}
      <a href="{{ url_for('hub', id=h.hub_id) }}">
        <code>{{ h.hub_id }}</code>
      </a>
      {% endif %}
    </td>
    <td>{% if h.pi_id %}<code>{{ h.pi_id }}</code>{% endif %}</td>
    <td>{% if h.short_id %}(<code>{{ h.short_id }}</code>){% endif %}</td>
    <td>{% if h.disk_free %}{{ h.disk_free }}B{% endif %}</td>
    <td>{% if h.uptime %}{{ h.uptime }}s{% endif %}</td>
    <td>{% if h.version %}<code>{{ h.version }}</code>{% endif %}</td>
    <td><i>{{ h.sleep_period }}</i></td>
    <td><b>{{ h.port }}</b></td>
  </tr>
  {% endfor %}
</table>
