<table>
  <tr>
    <th>Hub Time</th>
    <th>Hub ID</th>
    <th>Cell ID</th>
    <th>Temperature</th>
    <th>Sleep Period</th>
    <th>Taken At</th>
    <th>Relayed At</th>
  </tr>
  {% for t in temperatures %}
  <tr>
    <td>{{ t.hub_time }}</td>
    <td><code>{{ t.hub_id }}</code></td>
    <td><code>{{ t.cell_id }}</code></td>
    <td>
      {% if t.relay %}
      <b>{{ t.temperature }}&deg;</b>
      {% else %}
      <s>{{ t.temperature }}&deg;</s>
      {% endif %}
    </td>
    <td><i>{{ t.sleep_period }}</i></td>
    <td>{{ t.time }}</td>
    <td>{% if t.relayed_time %}{{ t.relayed_time }}{% endif %}</td>
  </tr>
  {% endfor %}
</table>
