<table>
  <th>Hub Time</th>
  <th>Hub ID</th>
  <th>Cell ID</th>
  <th>Temperature</th>
  <th>Sleep Period</th>
  <th>Taken At</th>
  <th>Relayed At</th>
  {% for t in temperatures %}
  <tr>{{ t.hub_time }}</tr>
  <tr><code>{{ t.hub_id }}</code></tr>
  <tr><code>{{ t.cell_id }}</code></tr>
  <tr>
  {% if t.relay %}
    <b>{{ t.temperature }}&deg;</b>
  {% else %}
    <s>{{ t.temperature }}&deg;</s>
  {% endif %}
  </tr>
  <tr><i>{{ t.sleep_period }}</i></tr>
  <tr>{{ t.time }}</tr>
  <tr>{% if t.relayed_time %}{{ t.relayed_time }}{% endif %}</tr>
  {% endfor %}
</table>
