{% extends "base.html" %}

{% block title %}Hub {{ request.view_args.id }}{% endblock %}

{% block body %}
<h1>
  Hub <code>{{ request.view_args.id }}</code>
  {% if short_id %} / <code>{{ short_id }}</code>{% endif %}
</h1>

<h2>Status</h2>
<ul>{% include 'relay/_hubs.html' %}</ul>

<h2>Cells</h2>
<table>
  <tr>
    <th>Time</th>
    <th>ID</th>
    <th>Short ID</th>
    <th>Version</th>
  </tr>
  {% for c in cells %}
  <tr>
    <td>{{ c.time }}</td>
    <td><a href="{{ url_for('cell', id=c.cell_id) }}"><code>{{ c.cell_id }}</code></a></td>
    <td>{% if c.short_id %}<code>{{ c.short_id }}</code>{% endif %}</td>
    <td>{% if c.version %}<code>{{ c.version }}</code>{% endif %}</td>
  </tr>
  {% endfor %}
</table>

<h2 id="temperatures">Temperatures</h2>
<ul>{% include 'relay/_temperatures.html' %}</ul>
{% endblock %}
