[Unit]
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker rm -f db
ExecStart=/usr/bin/docker run --name db --volumes-from db-data db
ExecStop=/usr/bin/docker stop db

[Install]
WantedBy=multi-user.target
