[Unit]
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker rm -f db
ExecStartPre=/usr/bin/docker run -d --name db --volumes-from db-data db
ExecStart=/usr/bin/docker logs -f db
ExecStop=/usr/bin/docker stop db

[Install]
WantedBy=multi-user.target
