{% extends "base.html" %}
{% block title %}Hub {{ request.view_args.xbee_id }}{% endblock %}
{% block body %}
<h2>Status Log</h2>
<ul>
  {% for l in logs %}
  <li>{{ l.time }} <b>{{ l.port }}</b></li>
  {% endfor %}
</ul>

<h2>Cells</h2>
<ul>
  {% for c in cells %}
  <li>{{ c.time }} <a href="{{ url_for('cell', cell_id=c.cell_id) }}"><code>{{ c.cell_id }}</code></a></li>
  {% endfor %}
</ul>

<h2 id="readings">Readings</h2>
<ul>
  {% for r in readings %}
  <li>{{ r.hub_time }} <code>{{ r.cell_id }}</code>
    {% if r.relay %}<b>{{ r.temperature }}&deg;</b>{% if r.relayed_time %} (relayed at {{ r.relayed_time }}){% endif %}
    {% else %}<s>{{ r.temperature }}</s>{% endif %}
  </li>
  {% endfor %}
</ul>

<button id="hourly">Switch to Hourly Readings</button>
{% endblock %}
{% block js %}<script src="/static/hub.js"></script>{% endblock %}
