[Unit]
After=app.service
Requires=app.service

[Service]
TimeoutStartSec=0
Restart=always
ExecStartPre=-/usr/bin/docker rm -f web
ExecStartPre=/usr/bin/docker run -d --name web --link app -p 80:80 web
ExecStart=/usr/bin/docker logs -f web
ExecStop=/usr/bin/docker stop web

[Install]
WantedBy=multi-user.target
